---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  .page-content p a:not(.footnote):not(.reversefootnote) {
    color: $link-base-color;
    &:hover{
      color: $link-hover-color
    }
    &:visited {
      color: $link-visited-color;
    }
  }

  .page-content li a:not(.footnote):not(.reversefootnote) {
    color: $link-base-color;
    &:hover{
      color: $link-hover-color
    }
    &:visited {
      color: $link-visited-color;
    }
  }

  .page-content li h3 a:not(.footnote):not(.reversefootnote) {
    color: $color-accent-1;
    &:hover{
      color: $color-accent-1;
    }
    &:visited {
      color: $color-accent-1;
    }
  }


  .page-content a:not(.footnote):not(.reversefootnote) {
    color: $color-accent-1;
    text-decoration: none !important;
    position: relative;
    z-index: 0;

    &:after{
            content: "";
            background: $color-accent-a1;
            position: absolute;
            right: -1px;
            width: 8px;
            height: 12px;
            z-index: -1;
            transition: 0.35s cubic-bezier(0.25, 0.1, 0, 1);
        }
      &:hover:after {
              width: 100%;
              height: 100%;
          }
      &:hover{
        color: $color-accent-1;
      }
      &:visited {
        color: $color-accent-1;
      }
  }

  .reversefootnote {
    color: $link-base-color;
    box-shadow: none;
  }

  .reversefootnote:visited {
    color: $link-base-color;
  }

  .footnote {
    color: $link-base-color;
    box-shadow: none;
  }

  .footnote:visited {
    color: $link-base-color;
  }
  body {
    font-family: 'Source Serif Pro', Helvetica;
    font-variant-ligatures: none;
    line-height: 1.5rem;
    font-size: $body-font-size;
    max-width: 960px;
    width:96vw;
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
    $color-1: lighten($color-accent-a1, 10%);
    $color-2: lighten($color-accent-a1, 12%);
    background: repeating-linear-gradient(45deg,$color-1,$color-1 60px,$color-2 60px,$color-2 70px);
  }

  .post-content h3:after {
        content: "QCYN2";
        color: transparent;
        position: absolute;
        width: 100%;
        margin-left: 14px;
        background: linear-gradient(transparent, transparent 17.5%, $color-accent-1 17.5%, $color-accent-1 27.5%,
        transparent 27.5%, transparent 45%, $color-accent-1 45%, $color-accent-1 55%,
        transparent 55%, transparent 72.5%, $color-accent-1 72.5%, $color-accent-1 82.5%,
        transparent 82.5%, transparent );
    }

  .post-list h3:after {
          content: "QCYN2";
          color: transparent;
          position: absolute;
          width: 100%;
          margin-left: 14px;
          background: linear-gradient(transparent, transparent 17.5%, $color-accent-1 17.5%, $color-accent-1 27.5%,
          transparent 27.5%, transparent 45%, $color-accent-1 45%, $color-accent-1 55%,
          transparent 55%, transparent 72.5%, $color-accent-1 72.5%, $color-accent-1 82.5%,
          transparent 82.5%, transparent );
      }
