---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";
  p a, p a:visited  {
    color: $text-color;
    text-decoration: none;
  }

  p a::after {
        content: "";
        background: #EC90F5;
        position: absolute;
        left: 12px;
        bottom: -4px;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        z-index: -1;
        transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
    }
  p a:hover:after {
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 110%;
  }

  .reversefootnote, .reversefootnote:visited{
    color: $link-base-color;
    box-shadow: none;
  }

  .footnote, .footnote:visited {
    color: $link-base-color;
    box-shadow: none;
  }

  body {
    font-family: 'Source Serif Pro', Helvetica;
    font-variant-ligatures: none;
    line-height: 1.5rem;
    font-size: 1.2rem;
    max-width: 960px;
    margin-left: 23%;
    margin-right: 17%;
  }
.site-header{
  margin-top: 25px;
}
