---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  p a {
    color: $text-color;
    box-shadow: 0px -7px 0px $color-accent-a1 inset;
    text-decoration: none !important;
  }

  p a:visited {
    color: $text-color;
  }

  .reversefootnote {
    color: $link-base-color;
    box-shadow: none;
  }

  .reversefootnote:visited {
    color: $link-base-color;
  }

  .footnote {
    color: $link-base-color;
    box-shadow: none;
  }

  .footnote:visited {
    color: $link-base-color;
  }

  p li a {
    color: $link-base-color;
    box-shadow: none;
    font-weight: 700;
  }
  a:hover{
    transition: all 0.3s;
    background-color: $color-accent-a1;
    border-radius: 0;
    box-shadow: none;
    text-decoration: none !important;
  }
  body {
    font-family: 'Source Serif Pro', Helvetica;
    font-variant-ligatures: none;
    line-height: 1.5rem;
    font-size: $body-font-size;
    max-width: 960px;
    width:96vw;
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  .post-content h3:after {
        content: "QCYN2";
        color: transparent;
        position: absolute;
        width: 100%;
        margin-left: 14px;
        background: linear-gradient(transparent, transparent 17.5%, $color-accent-1 17.5%, $color-accent-1 27.5%,
        transparent 27.5%, transparent 45%, $color-accent-1 45%, $color-accent-1 55%,
        transparent 55%, transparent 72.5%, $color-accent-1 72.5%, $color-accent-1 82.5%,
        transparent 82.5%, transparent );
    }
