// Placeholder to allow overriding predefined variables smoothly.
$color-accent-1:           #245eff !default;
$color-accent-2:           #80e7ff !default;
$color-accent-a1:          #ffb6df !default;
$color-accent-a2:          #ff6dbe !default;
$text-color-light: #fff !default;

$body-font-size: 1.2rem;

$border: 6px;
$depth: 5;
